@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-gray);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a { text-decoration: none; }